.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0;
}

@media (min-width: 769px) {
  .header {
    max-width: 1184px;
    width: calc(100% - 96px);

  }
}

@media (max-width: 768px) {
  .header {
  max-width: calc(100% - 48px);
  }
}

@media (max-width: 320px) {
  .header {
    margin-top: 16px;
    max-width: calc(100% - 32px);
  }
}