.lead__image {
  margin: 0;
  display: block;
  max-width: 984px;
  width: 100%;
  margin: 64px auto 0;
}

@media (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    max-height: 580px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    max-height: 480px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
    max-height: 200px;
  }
}

