.cover__overlay {
  background: center / cover no-repeat url(../../../images/cover-trains.jpg);
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  width: 100%;
  min-height: 740px;
  z-index: 20;
}

.cover__overlay::before {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: opacity 0.8s ease-in-out;
  content: '';
  background-color: rgba(42, 44, 47, 1);
  opacity: 0.3;
  height: 100%;
  z-index: 10;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (max-width: 800px) {
  .cover__overlay {
    min-height: 580px;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 600px) {
  .cover__overlay {
    min-height: 350px;
  }
}

@media (max-width: 460px) {
  .cover__overlay {
    min-height: 200px;
    row-gap: 16px;
  }
}