.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
}

@media (max-width: 876px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 48px 28px;
  }
}

@media (max-width: 380px) {
  .place {
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
  }
}